.link--storecard__doubts-button {
  margin: 42px auto 0;
  text-decoration: none;
}
.label--storecard__doubts-button {
  padding: 10px 15px;
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #bd1d1d;
  border: 1px solid #bd1d1d;
  border-radius: 4px;
  color: #fff;
}
