.container {
  &--not-found-page__title {
    margin: 0 auto;

    .heading,
    .paragraph {
      margin: 0;
      color: $cor-2;
      font-size: $font-size-xl;
      font-weight: $bold;
      margin-top: 12px;

      @media (min-width: $d) {
        font-size: $font-size-xxl;
      }
    }
  }

  &--not-found-page__subtitle {
    .paragraph {
      font-size: $font-size-md;
      color: $cinza;
      margin: 16px 0 24px;
      padding: 0 20px;

      @media (min-width: $d) {
        padding: 0;
        margin-bottom: 32px;
      }
    }
  }

  &--not-found-page__button {
    margin-bottom: 16px;

    @media (min-width: $d) {
      margin-bottom: 24px;
    }

    .paragraph {
      margin: 0;
    }

    .link {
      @include primary-button;
      text-decoration: none;
      padding: 16px;
      font-size: $font-size-md;
      width: 156px;
      height: 48px;
      margin: 0 auto;
    }
  }
}
