// MEDIA QUERIES DA LOJA

$mm: 320px; // MOBILE MINI - geralmente usado para estilos no iphone
$m: 468px; // MOBILE
$t: 991px; // TABLET
$d: 1025px; // DESKTOP
$l: 1365px; // LARGE
$w: 1920px; // WIDE
$uw: 2560px; // ULTRAWIDE