%dots {
  width: 8px !important;
  height: 8px !important;
  padding: 0 !important;
  margin: 0 2px !important;
  border-radius: 8px !important;
  box-sizing: border-box;
  background-color: $white;
  border: 1px solid $cinza-medio; 
}
